button{
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: crimson;
    border: 2px solid #000;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #fff);
    font-size: 2rem;
}

button:hover{
    background-color: #fff;
}

.boton-clic {
    background-color: #000;
}

.boton-reiniciar {
 background-color: #000;
}
